In [1]:
import pandas as pd

# DataFrameをCSVファイルとして保存する

In [3]:
lst = [[1,1,1], [2,4,8], [3,9,27]]
df = pd.DataFrame(lst, index=['d1','d2','d3'], columns=['linear','square','cubic'])
df

    linear  square  cubic
d1       1       1      1
d2       2       4      8
d3       3       9     27

## Notebookのディレクトリを取得する

In [7]:
dname = r'D:/APIpractice/APIpractice/prc_git/python/'
dname

'D:/APIpractice/APIpractice/prc_git/python/'

In [9]:
# 保存先のファイル名を連結する
fname1 = dname + r'csv01.csv'
fname1

'D:/APIpractice/APIpractice/prc_git/python/csv01.csv'

## DataFrameの内容をCSVファイルに保存する

In [10]:
df.to_csv(fname1)

In [11]:
fname2 = dname + r'csv01_noindex.csv'
fname2

'D:/APIpractice/APIpractice/prc_git/python/csv01_noindex.csv'

In [13]:
# インデックスの列を省略するケース
df.to_csv(fname2, index=False)

In [14]:
fname3 = dname + r'csv01_nohead.csv'
fname3

'D:/APIpractice/APIpractice/prc_git/python/csv01_nohead.csv'

In [15]:
# 見出し行を省略するケース
df.to_csv(fname3, header=False)

## CSVファイルの内容をDataFrameに読み込む

In [21]:
# 見出し行、インデックス列ともに存在するCSVのケース
df2 = pd.read_csv(fname1, index_col=0)

In [22]:
df2

    linear  square  cubic
d1       1       1      1
d2       2       4      8
d3       3       9     27

In [25]:
# インデックス列のないCSVのケース
df2 = pd.read_csv(fname2)
df2

   linear  square  cubic
0       1       1      1
1       2       4      8
2       3       9     27

In [29]:
# ヘッダ業を付ける
df2 = pd.read_csv(fname3, index_col=0, names=['linear', 'square', 'cubic'])
df2

    linear  square  cubic
d1       1       1      1
d2       2       4      8
d3       3       9     27

In [36]:
fname4 = dname + r'file_sjis.csv'
df3 = pd.read_csv(fname4, encoding='sjis', index_col=0)

In [37]:
df3

     一次  二次  三次
一行目   1   1   1
二行目   2   4   8
三行目   3   9  27